/* Write your code here. */
* {
  margin: 0;
  padding: 0;
}
.bg-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.heading {
  font-size: 36px;
  text-align: center;
  font-family: "Roboto";
  padding: 20px;
  color: #0f172a;
}
.notification-container {
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
}
.inner-container {
  display: flex;
  flex-direction: row;
}
.information-message {
  color: #ffffff;
  background-color: #0b69ff;
}
.success-message {
  color: #ffffff;
  background-color: #2dca73;
}
.warning-message {
  color: #ffffff;
  background-color: #ffb800;
}
.danger-message {
  color: #ffffff;
  background-color: #ff0b37;
}
.icon {
  height: 30px;
  width: 30px;
  padding-right: 15px;
}
